/*Gradient Background*/
body {
   background: linear-gradient(-45deg, #13547a, #80d0c7, #23a6d5, #23d5ab);
   background-size: 400% 800%;
   animation: gradient 15s ease infinite;
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
/*----------------------------------------------------*/
h1, h2, h4{
   text-align: center;
}

/* this makes the checkbox hidden and hides any text for the box. */
/* Also makes it so that anything selected will change the opacity */
input[type=checkbox] {
   visibility: hidden;
}

input[type=checkbox] + label {
   color: transparent;
   font-style: italic;
   display: inline-block;

}
input[type=checkbox]:checked + label {
   color: transparent;
   opacity: .2;
}
/* ----------------------------------------------------------------- */
button{
   background: none;
   border: 2px solid;
}
#subscribeButton:hover,
#subscribeButton:focus{
   box-shadow: inset 0 0 0 2em;
}
/* This label tag makes most of the properties for each product image except for the image itself */
label{

   background-repeat: no-repeat;
   text-align: center;
   background-size: contain;
   background-position: center;
   height: 200px;
   width: 300px;
   border-radius:50px;

}
/* ------------------------------------------------------------------ */
#LeatherworkingLabel{
   background-image: url(../images/leatherWorking.png);
}

#WoodWorkingLabel{
   background-image: url(../images/Woodcarving.jpg);
   background-size: contain;
}

#PyrographyLabel{
   background-image: url(../images/Pyrography.jpg);
}

#BonkeiLabel{
   background-image: url(../images/bonkei.jpg);
}

#BonsaiLabel{
   background-image: url(../images/bonsai.jpg);
}

#FitnessLabel{
   background-image: url(../images/fitness.jpg);
}

#SewingLabel{
   background-image: url(../images/sewing.jpg);
}

#CandleMakingLabel{
   background-image: url(../images/CandleMaking.jpg);
}

#JewelryMakingLabel{
   background-image: url(../images/Jewelry.jpg);
}

#PuzzlesLabel{
   background-image: url(../images/puzzles.jpg);
}

#EssentialOilsLabel{
   background-image: url(../images/essentialOil.jpg);
}

#TeaLabel{
   background-image: url(../images/tea.jpg);
}

#listingId{
   text-align: center;
   list-style: none;
   display: inline-flex;
   flex-wrap: wrap;
}

.title{
   text-align: center;
   list-style: none
}
#formId{
   display: inline-flex;
   flex-wrap: wrap;
   list-style: none;
   justify-content: center;
}


.productClass{
   text-align: center;
}




