/*Gradient Background*/
body {
   background: white;
   background-size: 400% 800%;

}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
/*----------------------------------------------------*/
h1, h2, h4{
   text-align: center;
}

/* this makes the checkbox hidden and hides any text for the box. */
/* Also makes it so that anything selected will change the opacity */
input[type=checkbox] {
   visibility: hidden;
}

input[type=checkbox] + label {
   color: transparent;
   font-style: italic;
   display: inline-block;

}
input[type=checkbox]:checked + label {
   color: transparent;
   opacity: .2;
}
/* ----------------------------------------------------------------- */
/*Button*/
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 6.5px 13px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
/* This label tag makes most of the properties for each product image except for the image itself */
label{

   background-repeat: no-repeat;
   text-align: center;
   background-size: contain;
   background-position: center;
   height: 200px;
   width: 300px;
   border-radius:50px;

}
/* ------------------------------------------------------------------ */
#LeatherWorkingLabel{
   background-image: url(../images/leather.jpg);
}

#WoodWorkingLabel{
   background-image: url(../images/WoodWorking.jpg);
   background-size: contain;
}

#PyrographyLabel{
   background-image: url(../images/pyrography.jpg);
}

#BonkeiLabel{
   background-image: url(../images/bonkei.jpg);
}

#BonsaiLabel{
   background-image: url(../images/bonsai.jpg);
}

#FitnessLabel{
   background-image: url(../images/fitness.jpg);
      border-radius:60px;

}

#SewingLabel{
   background-image: url(../images/sewingmachine.jpg);
}

#CandleMakingLabel{
   background-image: url(../images/CandleMaking.jpg);
}
#SoccerLabel{
   background-image: url(../images/soccer.jpg);
}
#HikingLabel{
   background-image: url(../images/hiking.jpg);
}
#KnittingLabel{
   background-image: url(../images/knitting.jpg);
}



#JewelryMakingLabel{
   background-image: url(../images/Jewelry.jpg);
}

#PuzzlesLabel{
   background-image: url(../images/puzzles.jpg);
}

#EssentialOilsLabel{
   background-image: url(../images/essentialOil.jpg);
}

#TeaLabel{
   background-image: url(../images/tea.jpg);
}
#LockPickingLabel{
   background-image: url(../images/lockpicking.jpg);
}

#listingId{
   text-align: center;
   list-style: none;
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: center;
}

.title{
   text-align: center;
   list-style: none
}
#formId{
   display: inline-flex;
   flex-wrap: wrap;
   list-style: none;
   justify-content: center;
}


.productClass{
   text-align: center;
   width: 300px;

}
.prefProductClass{
height: 300px;
width: 300px;
   background-repeat: no-repeat;
   text-align: center;
   background-size: contain;
   background-position: center;
   height: 200px;
   width: 300px;
   border-radius:50px;
}


#prefList{
   text-align: center;
   list-style: none;
   justify-content: center;
}
#prefListItemId{
padding: 1em;
margin-left: .5em;
margin-right: .5em;
width: 300px
}

.cartClass{
height: 300px;
width: 300px;

   background-repeat: no-repeat;
   text-align: center;
   background-size: contain;
   background-position: center;
   height: 200px;
   width: 300px;
   border-radius:50px;
}
#productDescription{
width: 300px;
height: 130px;
}

#subscribeButton{
justify-content: center;
}

.listItemClass{
margin-left: .5em;
margin-right: .5em;
}

#center{
position: absolute;
top: 50%;
left: 50%;
margin: -150px 0 0 -150px;
width: 300px;
height: 300px;
}
#cartDiv{
top: 50%;
left: 50%;
width: 300px;
height: 300px;
}

#reviewButton{
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu; color: ButtonText;

}


