
/* this makes the checkbox hidden and hides any text for the box. */
/* Also makes it so that anything selected will change the opacity */
input[type=checkbox] {
   visibility: hidden;
}

input[type=checkbox] + label {
   color: transparent;
   font-style: italic;
   display: inline-block;

}
input[type=checkbox]:checked + label {
   color: transparent;
   opacity: .2;
}
/* ----------------------------------------------------------------- */
/* This label tag makes most of the properties for each product image except for the image itself */
label{

   background-repeat: no-repeat;
   text-align: center;
   background-size: contain;
   height: 300px;
   width: 300px;
   border: 2px solid #fff;

}
/* ------------------------------------------------------------------ */
#LeatherworkingLabel{
   background-image: url(../images/leatherWorking.png);
}

#WoodWorkingLabel{
   background-image: url(../images/Woodcarving.jpg);
   background-size: contain;
}

#PyrographyLabel{
   background-image: url(../images/Pyrography.jpg);
}

#BonkeiLabel{
   background-image: url(../images/bonkei.jpg);
}

#BonsaiLabel{
   background-image: url(../images/bonsai.jpg);
}

#FitnessLabel{
   background-image: url(../images/fitness.jpg);
}

#SewingLabel{
   background-image: url(../images/sewing.jpg);
}

#CandleMakingLabel{
   background-image: url(../images/CandleMaking.jpg);
}

#JewelryMaking{
   background-image: url(../images/Jewelry.jpg);
}

#PuzzlesLabel{
   background-image: url(../images/puzzles.jpg);
}

#EssentialOilsLabel{
   background-image: url(../images/essentialOil.jpg);
}

#TeaLabel{
   background-image: url(../images/tea.jpg);
}


.title{
   text-align: center;
   list-style: none
}
#formId{
   display: inline-flex;
   flex-wrap: wrap;
   list-style: none
}


.productClass{
   text-align: center;
}




