<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Products</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Products</h1>


<form action="/myPreferences" method="POST" id="formId">
<ul id="listingId">
    <li th:each="product: ${productsList}" >
        <div th:id="${product.title}" class="productClass">
            <input type="checkbox" th:id="${product.title + 'Input'}" name="check">
            <label th:id="${product.title + 'Label'}" th:for="${product.title + 'Input'}"></label>
        </div>
        <p>[[${product.title}]]</p>
        <p>anything</p>

    </li>
</ul>
    <input type="submit" name="subscribe"/>
</form>
</body>
</html>