<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Products</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/LoginStyle.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<h1>Products</h1>
<h2>Please select as many hobbies as you would like to try</h2>
<h4>You will receive a box pertaining to one of your selections on each delivery</h4>


<form action="/myPreferences" method="POST" id="formId">
<ul id="listingId">
    <li th:each="product: ${productsList}" id="listItemId" class="listItemClass">
        <div th:id="${product.title}" class="productClass">
            <input type="checkbox" th:id="${product.title + 'Input'}" th:name="${product.title}">
            <label th:id="${product.title + 'Label'}" th:for="${product.title + 'Input'}"></label>
        </div>
        <p>[[${product.title}]]</p>
        <p th:text="${product.productDescription}" id="productDescription"></p>
        <a th:href="'/reviews/'+${product.title}"> Reviews</button></a>
    </li>
</ul>


    <button name="Subscribe" type="submit" class="button" id="subscribeButton">Subscribe</button>


</form>
</body>
</html>