<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Preferences</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>



<h1>Your Chosen Box For This Month</h1>

<center>
        <p th:text="${checkout.title}"></p>

    <div th:id="${checkout.title}" class="cartClass">
        <p th:id="${checkout.title + 'Label'}" class="cartClass"></p>
    </div>



    <div class="login">
        <form action="/myPreferences" method="POST">
            <label for="username">Card Holder Name</label>
            <input type="text" name="username" placeholder="Card Holder Name...">
            <label for="password">Credit Card</label>
            <input type="password" placeholder="Credit Card" name="password">
            <label for="password">CVV</label>
            <input type="password" placeholder="CVV" name="password">
            <button type="submit" class="btn btn-primary btn-block btn-large">SUBMIT</button>

        </form>







</center>
</body>

</html>