<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hobbyist</title>
    <link rel="stylesheet" href="/css/loginStyle.css">

</head>
<body>

<h1>Welcome to Our Page, [[${username}]] please sign up to have access</h1>

<div class="login">

<form action="/signup" method="POST">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" required>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" required>
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-large">
</form>
    <form action="/login"> <button  class="btn btn-primary btn-block btn-large">Login</button></form>
</div>

</body>
</html>