
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hobbyist</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/LoginStyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/homeStyle.css">


</head>
<body >

<div th:replace="fragments/header :: header">...</div>

<h1>Welcome to Hobbyist! Please log in or sign up to have access.</h1>
<div id="containerHome">
<div class="introPTag">
<p class="eachPTag">Hobbyist is a web-based subscription box service that caters towards users that wish to try out a new hobby.  One challenge that people face when trying a new hobby is procuring the initial neccessary items to get started.  Another drawback is that someone can invest money into getting started only to discover that their initial interest has fizzled.
    <br>
    <br>
    Our service enables the user to comfortably start and continue a variety of different hobbies, be it leather working, puzzles, or jewelry making, without hurting their wallet.
</p>
    


</div>
</div>


</body>
</html>