<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Reviews </title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/LoginStyle.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<h1>Welcome to Hobbyist! Please log in or sign up to have access.</h1>

<div class="login">

<form action="/signup" method="POST">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" required>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" required>
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-large">
</form>
    <form action="/login"> <button  class="btn btn-primary btn-block btn-large">Login</button></form>
</div>

</body>
</html>