<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Reviews </title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/loginStyle.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<h1>Product Reviews</h1>


<div>

    Reviews: <p>[[${reviewedProduct.ProductReview}]]</p>
    <div th:id="${reviewedProduct.title + 'Label'}" class="prefProductClass">
    </div>
</div>
</body>
</html>