<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Reviews </title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/LoginStyle.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<h1>Product Reviews</h1>

<div id="formId">
    <div id="listingId" >
<div th:each="review : ${reviewedProduct}" id="listItemId" class="listItemClass">

    Reviews: <p>[[${review.ProductReview}]]</p>
    <div th:id="${review.title + 'Label'}" class="prefProductClass">
</div>
    </div>
    </div>
</div>

</body>
</html>